<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">DZone.com Statistics</h1>
        <p><em>Please note &#8212; results are limited to only publicly-available articles on DZone.com</em></p>
        <div class="col-12 col-sm-12 col-lg-12">
            <div class="col-sm-3">
                <h4>{{ctrl.realName}}</h4>
                <img data-ng-src="{{ctrl.avatarURL}}" style="height: 205px;">
            </div>
            <div class="col-sm-9">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <td colspan="2"><h4>Overall Statistics</h4></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="text-align: left;">First Post: {{ctrl.firstArticlePubDate | moment:'M/D/YYYY'}}</td>
                            <td style="text-align: right;">{{ctrl.daysSinceFirstPost | number:0}} days ago</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Total Articles Published</td>
                            <td style="text-align: right;">{{ctrl.articleCount | number:0}}</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Total Page Views</td>
                            <td style="text-align: right;">{{ctrl.totalPageViews | number:0}}</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Average Views Per Article</td>
                            <td style="text-align: right;">{{ctrl.averagePageViewsPerArticle | number:2}}</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Average Views Per Day</td>
                            <td style="text-align: right;">{{ctrl.averageViewsPerDay | number:2}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div>
        <h2>Full Article List</h2>
    </div>

    <table st-table="displayedCollection" st-safe-src="ctrl.data" class="table table-striped">
        <thead>
        <tr>
            <th st-sort="articleDate" st-sort-default="reverse">Date</th>
            <th>Thumbnail</th>
            <th st-sort="title">Title</th>
            <th class="text-right" st-sort="views">Views</th>
            <th class="text-right" st-sort="likes">Likes</th>
            <th class="text-right" st-sort="comments">Comments</th>
            <th class="text-right">Interactions</th>
        </tr>
        <tr>
            <th colspan="7"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in displayedCollection">
            <td>{{row.articleDate | date}}</td>
            <td><img src="https://dz2cdn1.dzone.com/thumbnail?fid={{row.imageUrl}}&w=62&h=22" alt="image thumbnail"/></td>
            <td><a ng-href="{{ctrl.baseURL}}{{row.articleLink}}" target="_blank">{{row.title}}</a></td>
            <td class="text-right">{{row.views | number}}</td>
            <td class="text-right">{{row.likes | number}}</td>
            <td class="text-right">{{row.comments | number}}</td>
            <td class="text-right">{{(row.likes + row.comments) | number}}</td>
        </tr>
        </tbody>
    </table>
</div>
